.respons-ul-wrapper{
    padding-left: 20px;
}
.respons-ul-wrapper li{ 
    font-size: 14px;
    font-weight: 500;
    color: #707070;
}
.p-t-70{
	padding-top: 70px!important;
}
@media (max-width: 768px) { 
    .header-logo-a img{
        display: none;
    }
}